<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" 
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <?include Globals.wxi?>

	<Product Id="*" Name="MDRDesk" Language="1033" Version="$(var.VersionNumber)" Manufacturer="JRD" UpgradeCode="626e9d9e-72ce-4fea-a38b-2afe926a84e5">

    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<!--<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />-->
		<MediaTemplate EmbedCab="yes"/>

		<Feature Id="ProductFeature" Title="MDRDesk Installer">
			<ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="CMP_DumpsDir" />
      <ComponentRef Id="CleanupMainApplicationFolder" />
    </Feature>

    <Property Id="ROOTDRIVE"><![CDATA[C:\]]></Property>
    
    <UIRef Id="WixUI_Advanced"/>
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf"/>
    <Property Id="ApplicationFolderName" Value="MDRDesk" />
    <Property Id="WixAppFolder" Value="WixPerMachineFolder" />
    <!--<WixVariable Id="WIXUI_INSTALLDIR" Value="TARGETDIR"/>-->
    <Icon Id="WixUIInfoIco" SourceFile=".\appbar.list.gear.png"/>
    <Icon Id="icon.ico" SourceFile=".\appbar.list.gear.png"/>
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />

    <WixVariable Id="WixUIDialogBmp" Value="data\CalleSegovias2.bmp" />


    <InstallUISequence>
      <!--<Custom Action=""-->
    </InstallUISequence>

  </Product>




  <Fragment>
    <Property Id="APPLICATIONFOLDER">
      <RegistrySearch Key="SOFTWARE\$(var.Manufacturer)\$(var.SkuName)" Root="HKLM" Type="raw" Id="APPLICATIONFOLDER_REGSEARCH" Name="Path" />
    </Property>
		<Directory Id="TARGETDIR" Name="SourceDir">
        <Directory Id="APPLICATIONFOLDER" Name="MDRDesk">
          <Directory Id="MDRDeskDir" Name="MDRDesk"></Directory>
          <Directory Id="DumpsDir" Name="Dumps"></Directory>
          <Directory Id="DacsDir" Name="mscordacwks"></Directory>
        </Directory>
		</Directory>
 
    <DirectoryRef Id="DumpsDir">
      <Component Id="CMP_DumpsDir"
      Guid="838F0013-7439-4D2E-8A57-F75A2DD04954"
      KeyPath="yes">
        <CreateFolder />
      </Component>
    </DirectoryRef>


    <DirectoryRef Id ="APPLICATIONFOLDER">
      <Component Id="CleanupMainApplicationFolder" Guid="*">
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.Manufacturer)\$(var.SkuName)" Name="Path" Type="string" Value="[APPLICATIONFOLDER]" KeyPath="yes" />
        <!-- We need to use APPLICATIONFOLDER variable here or RemoveFolderEx
                 will not remove on "install". -->
        <util:RemoveFolderEx On="uninstall" Property="APPLICATIONFOLDER" />
      </Component>
    </DirectoryRef>
    
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents">
      <Component Id="MDRDeskExe" Guid="{A33125F8-DD4F-4A3A-8B22-49EAF9E0459F}" Directory="MDRDeskDir">
        <File Source="$(var.MDRDesk.TargetDir)MDRDesk.exe" Id="MdrDeskExe"/>
        <CreateFolder/>
      </Component>
      <Component Id="MDRDeskConfig" Guid="{8F0C1C44-9B27-47CF-849C-5942178B4342}" Directory="MDRDeskDir">
        <File Source="$(var.MDRDesk.TargetDir)MDRDesk.exe.config"/>
        <CreateFolder/>
      </Component>
      <Component Id="ClrMDRUtilDll" Guid="{1D499E95-1A90-4FA1-B375-0B04CCCCD137}" Directory="MDRDeskDir">
        <File Source="$(var.MDRDesk.TargetDir)ClrMDRUtil.dll"/>
        <CreateFolder/>
      </Component>
      <Component Id="ClrMDRIndexDll" Guid="{05561F7D-8727-4E74-9309-9798DA1CBBAF}" Directory="MDRDeskDir">
        <File Source="$(var.MDRDesk.TargetDir)ClrMDRIndex.dll"/>
        <CreateFolder/>
      </Component>
      <Component Id="DmpNdxQueriesDll" Guid="{0A073EAA-CE56-4D9A-9D98-EB72AFF0D954}" Directory="MDRDeskDir">
        <File Source="$(var.MDRDesk.TargetDir)DmpNdxQueries.dll"/>
        <CreateFolder/>
      </Component>



      
    </ComponentGroup>
	</Fragment>
</Wix>
