<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>
  <appSettings>
    <!--<add key="installfolder" value="*"/>-->
    <add key="localserver" value="\\filebos01.ezesoft.net\Public\Development\jdominczak\MDRDesk"/>
    <add key="version" value="0.9.0.18"/>
    <add key="dacversion" value="27"/>
  </appSettings>
</configuration>
