<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <appSettings>
    <add key="dacfolder" value="C:\WinDbgStuff\mscordacwks" />
    <add key="mapfolder" value="C:\WinDbgStuff\dumps" />
    <add key="recentindices" value="C:\WinDbgStuff\Dumps\Analytics\Highline\analyticsdump111.dlk.dmp.map;C:\WinDbgStuff\Dumps\Analytics\Baly\analytics9_1512161604.good.dmp.map" />
    <add key="recentadhocs" value="C:\WinDbgStuff\dumps\Analytics\Highline\analyticsdump111.dlk.dmp;C:\WinDbgStuff\Dumps\TestApp\TestApp.exe_161226_160419.dmp" />
    <add key="procdumpfolder" value="C:\bin\SysinternalsSuite" />
    <!-- type display modes: namespaces, types, fulltypenames-->
    <add key="typedisplaymode" value="namespaces" />
    <add key="shortreportcount" value="100" />
    <add key="skipreferences" value="true"/>
  </appSettings>
  <runtime>
    <gcAllowVeryLargeObjects enabled="true" />
    <ThrowUnobservedTaskExceptions enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.1.0" newVersion="4.4.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
