<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="dacfolder" value="D:\Jerzy\WinDbgStuff\mscordacwks"/>
    <add key="mapfolder" value="D:\Jerzy\WinDbgStuff\dumps"/>
    <add key="lastdump" value="D:\Jerzy\WinDbgStuff\dumps\Analytics\Scoria\Eze.Analytics.Svc_151019_155326.dmp"/>
    <add key="recentdumps" value="D:\Jerzy\WinDbgStuff\dumps\Analytics\Scoria\Eze.Analytics.Svc_151019_155326.dmp;D:\Jerzy\WinDbgStuff\dumps\Analytics\Analytics20140815.dmp"/>
    <add key="recentindices" value="D:\Jerzy\WinDbgStuff\Dumps\DumpTest\DumpTest.exe_160820_073947.map"/>
    <add key="recentadhocs" value="D:\Jerzy\WinDbgStuff\dumps\Analytics\Scoria\Eze.Analytics.Svc_151019_155326.dmp;D:\Jerzy\WinDbgStuff\dumps\Analytics\Analytics20140815.dmp"/>
    <!-- type display modes: namespaces, types, fulltypenames-->
    <add key="typedisplaymode" value="namespaces"/>
    <add key="graphproxy" value="D:\Jerzy\projects\java\out\artifacts\dbgdmp_jar\dbgdmp.jar"/>
    <add key="graphport" value="44332"/>

    <add key="test_mapfolder0" value= "D:\Jerzy\WinDbgStuff\Dumps\Analytics\Baly\AnalyticsLatencyDump06062016 03354291.map"/>
    <add key="test_dumppath0" value="D:\Jerzy\WinDbgStuff\Dumps\Analytics\Baly\AnalyticsLatencyDump06062016 03354291.dmp"/>
    <add key="test_outfolder0" value="D:\Jerzy\WinDbgStuff\Dumps\Analytics\Baly\AnalyticsLatencyDump06062016 03354291.map\ad-hoc.queries\"/>
    
   <!--
     <add key="test_mapfolder0" value= "D:\Jerzy\WinDbgStuff\dumps\Analytics\Baly\analytics9_1512161604.good.map"/>
    <add key="test_dumppath0" value="D:\Jerzy\WinDbgStuff\dumps\Analytics\Baly\analytics9_1512161604.good.dmp"/>
    <add key="test_outfolder0" value="D:\Jerzy\WinDbgStuff\Dumps\Analytics\Baly\analytics9_1512161604.good.map\ad-hoc.queries\"/>

    <add key="test_mapfolder0" value= "D:\Jerzy\WinDbgStuff\dumps\Lisa\Eze.Shell.exe_160520_083135.map"/>
    <add key="test_dumppath0" value="D:\Jerzy\WinDbgStuff\dumps\Lisa\Eze.Shell.exe_160520_083135.dmp"/>
    <add key="test_outfolder0" value="D:\Jerzy\WinDbgStuff\dumps\Lisa\Eze.Shell.exe_160520_083135.map\ad-hoc.queries\"/>

    <add key="test_mapfolder0" value= "D:\Jerzy\WinDbgStuff\dumps\Lisa\Eze.Shell.exe_160518_185934.dlk.map"/>
    <add key="test_dumppath0" value="D:\Jerzy\WinDbgStuff\dumps\Lisa\Eze.Shell.exe_160518_185934.dlk.dmp"/>
    <add key="test_outfolder0" value="D:\Jerzy\WinDbgStuff\dumps\Lisa\Eze.Shell.exe_160518_185934.dlk.map\ad-hoc.queries\"/>

    <add key="test_mapfolder0" value= "D:\Jerzy\WinDbgStuff\dumps\DumpSearch\DumpSearch.exe_160523_122156.map"/>
    <add key="test_dumppath0" value="D:\Jerzy\WinDbgStuff\dumps\DumpSearch\DumpSearch.exe_160523_122156.dmp"/>
    <add key="test_outfolder0" value="D:\Jerzy\WinDbgStuff\dumps\DumpSearch\DumpSearch.exe_160523_122156.map\ad-hoc.queries\"/>

    <add key="test_mapfolder0" value= "D:\Jerzy\WinDbgStuff\dumps\Tader\Eze.Shell.exe_160518_185934.map"/>
    <add key="test_dumppath0" value="D:\Jerzy\WinDbgStuff\dumps\Tader\Eze.Shell.exe_160518_185934.dmp"/>
    <add key="test_outfolder0" value="D:\Jerzy\WinDbgStuff\dumps\Tader\Eze.Shell.exe_160518_185934.map\ad-hoc.queries\"/>
    
    <add key="test_mapfolder0" value= "D:\Jerzy\WinDbgStuff\dumps\TradingService\TradingService511.map"/>
    <add key="test_dumppath0" value=  "D:\Jerzy\WinDbgStuff\dumps\TradingService\TradingService511.dmp"/>
    <add key="test_outfolder0" value="D:\Jerzy\WinDbgStuff\dumps\TradingService\TradingService511.map\ad-hoc.queries\"/>
    -->
    <add key="test_mapfolder1" value= "D:\Jerzy\WinDbgStuff\dumps\TradingService\TradingServiceGoodState513.map"/>
    <add key="test_dumppath1" value=  "D:\Jerzy\WinDbgStuff\dumps\TradingService\TradingServiceGoodState513.dmp"/>
    <add key="test_outfolder1" value="D:\Jerzy\WinDbgStuff\dumps\TradingService\TradingServiceGoodState513.map\ad-hoc.queries\"/>
  </appSettings>
  <runtime>
    <gcAllowVeryLargeObjects enabled="true"/>
  </runtime>
</configuration>
