<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="dacfolder" value="D:\Jerzy\WinDbgStuff\mscordacwks"/>
    <add key="mapfolder" value="D:\Jerzy\WinDbgStuff\dumps"/>
    <add key="recentdumps" value="D:\Jerzy\WinDbgStuff\dumps\Analytics\ConvergEx\Analytics_Post.dmp;D:\Jerzy\WinDbgStuff\Dumps\TestApp\TestApp.exe_161118_104348.dmp"/>
    <add key="recentindices" value="D:\Jerzy\WinDbgStuff\Dumps\Analytics\ConvergeEx\Analytics_Post.dmp.map\D:\Jerzy\WinDbgStuff\dumps\TestApp\TestApp.exe_161118_104348.dmp.map"/>
    <add key="recentadhocs" value="D:\Jerzy\WinDbgStuff\dumps\Analytics\ConvergEx\Analytics_Post.dmp;D:\Jerzy\WinDbgStuff\Dumps\TestApp\TestApp.exe_161118_104348.dmp"/>
    <!-- type display modes: namespaces, types, fulltypenames-->
    <add key="typedisplaymode" value="namespaces"/>
  </appSettings>
  <runtime>
    <gcAllowVeryLargeObjects enabled="true"/>
    <ThrowUnobservedTaskExceptions enabled="true"/>
  </runtime>
</configuration>
